<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center"> Add Coupon</h2>
        <form action="/admin/add-coupon" method="post">
          <label for=""> coupon Name</label>
          <input type="text" name="Couponname" class="form-control" required />
          <label for=""> coupon expiry</label>
          <input type="date" name="Couponexpiry" class="form-control" required />
          <label for=""> coupon price</label>
          <input type="number" name="Couponprice" class="form-control" required/>

          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>